/*-------------------------------------------------------------- 
# Animations
--------------------------------------------------------------*/

@-webkit-keyframes ImgBounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@keyframes ImgBounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@-webkit-keyframes slideBgImage {
	from {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	to {
		-webkit-transform: scale(1.15);
		        transform: scale(1.15);
	}
}

@keyframes slideBgImage {
	from {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	to {
		-webkit-transform: scale(1.15);
		        transform: scale(1.15);
	}
}




















