/*==============================================
   Base Css
===============================================*/
.sp{
    padding: 100px 0;
}
.sp2{
    padding: 100px 0 60px;
}
.sp-t0-b60{
    padding: 0 0 60px;
}


/***
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    border: none;
}
***/


/*** 
=====================================================
	Section-title-start
=====================================================
***/

.section-title {
    padding-bottom: 53px;
    position: relative;
    display: block;
    text-align: center;
}
.section-title .title {
    padding-bottom: 4px;
}
.section-title .title h4 {
    font-size: 24px;
    color: #222222;
    font-weight: 700;
    line-height: 34px;
}}
.section-title .text{}
.section-title .text p {
    font-size: 16px;
    color: #222222;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

/*** 
=====================================================
	Section-title-End
=====================================================
***/


.owl-carousel.owl-dot-type1 .owl-stage-outer {
    position: relative;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
}
.owl-carousel.owl-dot-type1 .owl-dots {
    position: relative;
    display: block;
    text-align: center;
    line-height: 12px;
    margin: 0 !important;
}
.owl-carousel.owl-dot-type1 .owl-dots .owl-dot{
    position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
    background: #ffffff;
    border: 1px solid #2e343a;
	margin: 0px 5px;
	padding: 0px;
	border-radius: 50%;
	transition: all 100ms linear;
    transition-delay: 0.1s;
}
.owl-carousel.owl-dot-type1 .owl-dots .owl-dot span{
	display: none;	
}
.owl-carousel.owl-dot-type1 .owl-dots .owl-dot.active{
    border-color: #2e343a;
    background: #2e343a;
}






.client-type1-thumbs-carousel.owl-carousel.owl-dot-type1 .owl-dots {
    margin-top: 40px !important;
}


/*******************************************
  Theme Button Style 
*******************************************/
a.theme-btn {

}
a.theme-btn:hover{
    color: #ffffff;
}
.theme-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: transparent;
    padding-left: 35px;
    padding-right: 35px;
    color: #ffffff;
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: .5px;
    border: 1px solid #c1b79a;
    z-index: 1;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;    
}
.theme-btn:before {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -30px;
    width: 0%;
    background-color: #c1b79a;
    transform: skew(-22deg);
    z-index: -1;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;    
}

.theme-btn:hover:before {
    width: 180%;
  
}




/*******************************************
  Portfolio section Style 
*******************************************/


.filters{
	position:relative;
	margin-bottom: 50px;
}
.filters .filter-tabs{
	position:relative;
}
.filters li{
	position: relative;
    display: inline-block;
	padding: 12px 30px 12px;
    color: #222222;
    font-size: 18px;
    font-weight: 500;
	margin: 0px 5px 10px;
	text-transform:capitalize;
    cursor: pointer;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    z-index: 1;
}
.filters li:before{
	position: absolute;
	content: '';
    top: 0;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color:#ffffff;
	transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transform: skew(-15deg, 0deg);
    -webkit-transform: skew(-15deg, 0deg);
    -o-transform: skew(-15deg, 0deg);
    -ms-transform: skew(-15deg, 0deg);
    transform: skew(-15deg, 0deg);
    z-index: -1;
}
.filters li.active,
.filters li:hover{
	color: #ffffff;
}
.filters li.active::before,
.filters li:hover::before{
	background-color:#c1b79a;
    -moz-transform:none;
    -webkit-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform:none;
}







